@import "../../Forms/signIn/scss/color.scss";
@import "./common.scss";

#addingAreaHeading {
  height: 5%;
  .comman-width {
    padding: 0.5rem 0rem;
    @include commonWidth;
    #addingAreaHeading {
      margin: 0.5rem;
      h1 {
        font-size: 2rem;
      }
    }
  }
}

#addingArea {
  height: 10%;
  position: sticky;
  top: 20px;
  width: 100%;
  .comman-width {
    padding: 0.5rem 0rem;
    @include commonWidth;
    #addingAreaForm {
      border: 1px solid #fefefe;
      box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1),
        0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
      z-index: 6;
      background-color: white;
      background-color: $formBgColor;
      transition: all 0.3s ease-in-out;
      form {
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        input {
          display: block;
          padding: 0.3rem 0.5rem;
          font-size: 1.3rem;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
        .addingAreaForm-icons {
          font-size: 1.2rem;
          padding: 0.1rem;
          font-weight: 800;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          &:hover {
            font-size: 1.45rem;
            color: $formAreaBgColor;
          }
        }
      }
    }
  }
}
