$formAreaBgColor: #4158d0;

$formBgImage: linear-gradient(
  43deg,
  #4158d0 0%,
  #c850c0 17%,
  #ffcc70 39%,
  #644646 60%,
  #410d41 80%,
  #ffffff 100%
);

$formBgColor: #fff;
$formColor: #000;

$main-bg-color: #faf9f8;
