* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #faf9f8;
}
body #root {
  width: 100%;
  height: 100%;
}
body #root .comman {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 17%, #ffcc70 39%, #644646 60%, #410d41 80%, #ffffff 100%);
}
body #root .comman .header {
  padding: 0.5rem 1rem;
  width: 90%;
  margin: auto;
  min-height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body #root .comman .header h1 {
  font-size: 1.3rem;
  color: #ffffff;
}
body #root .comman .header .form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  min-width: 40%;
}
body #root .comman .header .form .form-icon {
  margin: 0.3rem 0.2rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
body #root .comman .header .form .form-icon:hover {
  color: #4158d0;
}
body #root .comman .header .form .form-icon:focus {
  transform: rotate(20deg);
}
body #root .comman .header .form .form-input {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  width: 100%;
}
body #root .comman .header .form .form-input:focus {
  outline: none;
}

.before-main {
  background-color: #faf9f8;
}
.before-main .main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  align-items: center;
}
.before-main .main .main-heading {
  font-size: 2rem;
}
.before-main .main .main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
}
.before-main .main .main-button:hover {
  background-color: white;
}

.adding-notes {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  margin: 1rem auto;
  padding: 0.6rem 1rem;
  width: 90%;
  margin: auto;
  box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.adding-notes:active {
  scale: 1.01 1.01;
}
.adding-notes .adding-notes-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  color: #2564cf;
}
.adding-notes .adding-notes-form .adding-notes-form-icon {
  margin: 0px 0.5rem;
}
.adding-notes .adding-notes-form .adding-notes-form-input {
  flex-grow: 7;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  color: #2564cf;
}
.adding-notes .adding-notes-form .adding-notes-form-input:focus {
  outline: none;
}
.adding-notes .adding-notes-form .adding-notes-form-action-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adding-notes .adding-notes-form .adding-notes-form-action-area .adding-notes-form-action-area-button {
  border: 2px solid #faf9f8;
  background-color: white;
  color: #2564cf;
  font-size: 1rem;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  transition: all 0.3s ease;
}
.adding-notes .adding-notes-form .adding-notes-form-action-area .adding-notes-form-action-area-button:hover {
  background-color: #faf9f8;
}
.adding-notes .adding-notes-form .adding-notes-form-action-area .adding-notes-form-icon-cross {
  font-size: 1rem;
  color: #2564cf;
  border: 1px solid #2564cf;
  border-radius: 1rem;
  padding: 0.1rem;
}

.all-notes-area {
  width: 90%;
  margin: auto;
}
.all-notes-area .all-notes {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-evenly;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.all-notes-area .all-notes .note {
  z-index: 1;
  border: 1px solid #faf9f8;
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
  height: 15rem;
  box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
}
.all-notes-area .all-notes .note .note-action-button-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: white;
  padding: 0.5rem 1rem;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 17%, #ffcc70 39%, #644646 60%, #410d41 80%, #ffffff 100%);
  opacity: 0.9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.all-notes-area .all-notes .note .note-action-button-area .note-action-button {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.2rem;
  transition: all 0.3s;
}
.all-notes-area .all-notes .note .note-action-button-area .note-action-button:hover {
  background-color: white;
  color: #4158d0;
  color: linear-gradient(43deg, #4158d0 0%, #c850c0 17%, #ffcc70 39%, #644646 60%, #410d41 80%, #ffffff 100%);
}
.all-notes-area .all-notes .note .note-action-button-area .note-action-button:active {
  transform: scale(1.2, 1.2);
  color: #410d41;
}
.all-notes-area .all-notes .note .notes-text {
  padding: 1rem 0.7rem;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  -moz-text-align-last: center;
       text-align-last: center;
  line-height: 1.5rem;
  font-size: 1rem;
  word-spacing: 0.3rem;
  white-space: wrap;
  height: 90%;
  width: 100%;
}

.note-completed {
  text-decoration: line-through;
}

@media screen and (max-width: 1100px) {
  .all-notes {
    grid-template-columns: 45% 45% !important;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .all-notes {
    grid-template-columns: 90% !important;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}
.userAreaStarting {
  cursor: pointer;
  position: relative;
  height: 100%;
}
.userAreaStarting:hover .userArea-action div {
  display: block;
}
.userAreaStarting img {
  width: 50px;
  border-radius: 50%;
}
.userAreaStarting .userArea-action {
  width: 100%;
  height: 100%;
  position: relative;
}
.userAreaStarting .userArea-action div {
  display: none;
  position: absolute;
  z-index: 5;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 17%, #ffcc70 39%, #644646 60%, #410d41 80%, #ffffff 100%);
  min-width: 250px;
  right: 1px;
  min-height: 3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 55;
}
.userAreaStarting .userArea-action div a {
  cursor: pointer;
  padding: 12px 16px;
  font-size: 0.8rem;
  text-decoration: none;
  display: block !important;
  text-align: left;
  color: white;
}
.userAreaStarting .userArea-action div a:hover {
  color: #ffcc70;
  background-color: #410d41;
}
.userAreaStarting .userArea-action div a:focus {
  scale: 1.1, 1.1;
}/*# sourceMappingURL=index.css.map */